<form>
  <div class="form-group">
    <label for="locationNameForm">Location name</label>
    <input type="text" class="form-control" id="reviewLocation">
  </div>
  <div class="form-group">
    <label for="reviewSelect">Rating</label>
      <div class="star-rating"> 
        <btn class="fa fa-star" data-rating="1" data-selected="false" id="oneStar"></btn>
        <btn class="fa fa-star" data-rating="2" data-selected="false" id="twoStar"></btn>
        <btn class="fa fa-star" data-rating="3" data-selected="false" id="threeStar"></btn>
        <btn class="fa fa-star" data-rating="4" data-selected="false" id="fourStar"></btn>
        <btn class="fa fa-star" data-rating="5" data-selected="false" id="fiveStar"></btn>
      </div>
    </select>
  </div>
    <div class="form-group">
    <label for="reviewText" >Please enter your review</label>
    <textarea class="form-control" id="reviewText" rows="3"></textarea>
  </div>
    <button type="submit" class="btn btn-primary" id="reviewSubmit">Submit</button>
</form>