<div id="home">
  </div>

<div class="jumbotron">
  <i class="fab fa-snapchat-ghost fa-5x" aria-hidden="true"></i>
  <h1 class="display-4">Boo!camp Spot</h1>
  <p class="lead">Welcome to Boo!camp Spot, your home for all things spooky, scary, and otherwordly. Our website compiles stories of real-life encounters at haunted places around the world. Find a haunted place to visit, submit a review, or add a new place to our database.
  </p>
  <p class="lead">Happy Haunting!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
    <a href= "/explore" class="btn btn-lg btn-block homeBtn" id="placeIcon"><i class="fa fa-map-signs fa-2x mt-2" aria-hidden="true"></i> <h4>Places to see </h4></a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
    <a href="/p/hauntedplace/review" class="btn btn-lg btn-dark btn-block homeBtn" id="reviewIcon"><i class="fa fa-star fa-2x mt-2" aria-hidden="true"></i> <h4>Submit a review </h4></a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
 <a href ="/explore/new" class="btn btn-lg btn-dark btn-block homeBtn" id="sighting-button"><i class="far fa-eye fa-2x mt-2" aria-hidden="true" ></i><h4>Report a sighting!</h4>
  </a>
    </div>
  </div>
</div>
<br>  


 
