  <div class="row">
    <div class="col-md-6" id="landingPageContainer">
  <div class="container">
  <h1 class="display-4">Boo!camp Spot</h1>
  <p class="lead">Find haunted places near you. Read real user accounts of encounters with specters, ghouls, and other otherworldly entities.</p>
  <p>Seen something spooky? Report a sighting and help us build our database.</p>
  <p class="lead">
    <a class="btn btn-lg" id="enterHome" href="/home" role="button">Enter</a>
  </p>
  </div>
  </div>
  </div>



