  <div class="row">

<video id="background_video" loop muted></video>
    <div id="video_cover"></div>
    <div id="overlay"></div>

    <div class="col-md-6" id="landingPageContainer">
  <div class="container">
    <i class="fab fa-snapchat-ghost fa-5x mt-3 landingContent" aria-hidden="true"></i>
  <h1 class="display-4 landingContent">Boo!camp Spot</h1>
  <p class="lead landingText">Find haunted places near you. Read real user accounts of encounters with specters, ghouls, and other otherworldly entities.</p>
  <p>Seen something spooky? Report a sighting and help us build our database.</p>
  <p class="lead">
    <a class="btn btn-lg landingContent" id="enterHome" href="/home" role="button">Enter</a>
  </p>
  </div>
  </div>
  </div>



