<div class="row">
  <div class="col-12 col-sm-8 mx-auto">
    <div class="position-relative">
      <form id="add-haunted-place-form" class="p-3 rounded">
        <h1 class="text-center">Add a Haunted Place</h1>
        <div class="form-group">
          <label>Type</label>
          <select id="add-hp-type" class="form-control"></select>
        </div>
        <div class="form-group">
          <label>Name</label>
          <div class="position-relative">
            <input id="add-hp-name" type="text" class="form-control">
            <div class="error-container justify-content-center align-items-center">
              <span class="text-monospace"></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <div class="position-relative">
            <textarea id="add-hp-desc" class="form-control" rows="3"></textarea>
            <div class="error-container justify-content-center align-items-center">
              <span class="text-monospace"></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Location</label>
          <div class="position-relative">
            <input id="add-hp-location" type="text" class="form-control">
            <div class="error-container justify-content-center align-items-center">
              <span class="text-monospace"></span>
            </div>
          </div>
        </div>
        <div class="d-flex">
           <button type="submit" class="btn btn-primary w-50 mt-2 mx-auto">Create</button>
        </div>
       
      </form>
      <div class="overlay-container justify-content-center align-items-center">
        <span class="text-monospace"></span>
      </div>
    </div>
  </div>
</div>