{{!-- Need to reference source to input data --}}
<div class="container">
  <div class="row"> 
    {{#each places}}
      <div class="col-md-4">
        <div class="card" id="placeCard">
          <img class="card-img-top p-2" src="./images/forest-light-fog-mist-night-house-948848-pxhere.com.jpg" alt="Card image cap" id="placeImage">
          <div class="card-body">
          <div class="fa fa-star ratingStar"></div>
          <h4 class="card-title" id="placeTitle">{{name}}</h4>
          <p class="card-text" id="placeDescription">{{description}}</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Reviews</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>