<div class="container">
  <div class="row">
    <div class="col-md-6" id="reviewFormContainer">
      <div class="position-relative">
        <form id="reviewForm">
          <h1 class="text-center">Submit Your Review</h1>
          <div class="form-group">
            <label>Haunted Place</label>
            <select class="form-control" id="rF-HP-Select"></select>
            <div id="rF-HP-Info-Panel" class="mt-2 px-2 rounded">
              <p class="mb-2">Type: <span id="rF-HP-type"></span></p>
              <p class="mb-2 text-truncate">Description: <span id="rF-HP-desc"></span></p>
              <p class="mb-2">Location: <span id="rF-HP-loc"></span></p>
            </div>
          </div>
          <div class="form-group">
            <label for="reviewTitle"><h4>Review Title</h4></label>
            <div class="position-relative">
              <input type="text" class="form-control" id="reviewTitle" value="">
              <div class="error-container justify-content-center align-items-center">
                <span class="text-monospace"></span>
              </div>
            </div>  
          </div>
          <div class="form-group">
            <label for="reviewSelect"><h4>Rating</h4></label>
            <div class="position-relative">
              <div class="star-rating"> 
                <btn class="fa fa-star reviewStar" data-rating="1" data-selected="false" id="oneStar"></btn>
                <btn class="fa fa-star reviewStar" data-rating="2" data-selected="false" id="twoStar"></btn>
                <btn class="fa fa-star reviewStar" data-rating="3" data-selected="false" id="threeStar"></btn>
                <btn class="fa fa-star reviewStar" data-rating="4" data-selected="false" id="fourStar"></btn>
                <btn class="fa fa-star reviewStar" data-rating="5" data-selected="false" id="fiveStar"></btn>
              </div>
              <div class="error-container justify-content-center align-items-center">
                <span class="text-monospace"></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="reviewText"><h4>Please enter your review</h4></label>
            <div class="position-relative">
              <textarea class="form-control" id="reviewText" rows="3"></textarea>
              <div class="error-container justify-content-center align-items-center">
                <span class="text-monospace"></span>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <button id="rF-submit-btn" type="submit" class="btn btn-primary w-50 mt-2 mx-auto">Submit</button>
          </div>
        </form>
        <div class="overlay-container justify-content-center align-items-center">
          <span class="text-monospace"></span>
        </div>
      </div>
    </div>
  </div>
</div>
