body {
  background-color: #e9ecef;
  margin-bottom: 3.5rem; /* for sticky footer */
  background-image: url(../images/trentastone.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}

html { /* for sticky footer */
  position: relative;
  min-height: 100%;
}

/* Navbar CSS */
.custom-nav-link,
.btn-link-custom {
  color: rgba(255,255,255,.5);
}
.custom-nav-link:hover,
.btn-link-custom:hover {
  color: rgba(255,255,255,.8);
}
#navbar-user,
#navbar-signout {
  display: none;
}

/* User Page CSS */
.user-panel {
  background-color: #ff7f5080;
}
.user-panel img {
  border-radius: 50%;
  border: 1px solid #ff7f50;
}
.user-info {
  background-color: #ffffff70;
}

/* Place(s) CSS */
#placeType {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.badge-custom {
  border-radius: 0;
  background-color: #e6e6fa50;
  color: white;
}
.p-img {
  max-height: 420px;
  object-fit: cover;
}
.reviews-container {
  background-color: #ff7f5080;
}
.review-item {
  background-color: #ffffff70;
}

/* Footer CSS */
.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  color: white;
  background-color: #212929; 
}
