
.list-group-item {
  line-height: 2.5;
}

#navbarRow {
  margin-top: 0px;  
}

.homeBtn {
  background-image: url("../images/ep_naturalblack.png");
  color: lightgray;
  box-shadow: 0px 0px 20px 2px lightcoral;
}

.homeBtn:hover {
  color: lightcoral;
}


.reviewStar:hover{
  color: gold;
}

.starClicked {
  color: gold;
}

#placeCard {
  background-image: url("../images/stardust.png");
  margin: 0 auto;
  text-align: center;
}

#placeTitle {
 background-color: white;
 border-radius: 5px;
 color: black;
 margin: 0 auto;
 box-shadow: 0px 0px 20px 5px lightcoral;
}

#placeDescription {
  border-radius: 5px;
  margin-top: 10px;
  background-color:white;
  color: black;
}

.ratingStar {
  color: gold;
  margin: 10px;
}

#reviewFormContainer {
  background-image: url("../images/darkness.png");
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

#reviewForm {
  color: darkgray;
}


.jumbotron {
  text-align: center;
}

#landingPageContainer {
  background-image: url("../images/stardust.png");
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 12.5%;
  color: white;
  border-radius: 10px;
}

#enterHome {
  background-color: lightgray;
  box-shadow: 0px 0px 20px 5px lightcoral;
  color: black
}

